@media (max-width: 600px) {

    /*
        MENU GOOGLE ↴
    */

    .logo_google {
        padding: 20px;
    }

    .bar_login {
        margin-left: 2px;
    }
    
    .bar_top_left {
        position: absolute;
        padding: 0;
        margin-left: 45vw;
        margin-top: 17px;
    }

    .bar_top {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
    }

    .bar_top_bottom {
        font-size: 13px;
    }
    
    .bar_top_bottom a:first-child {
       margin: 0;
       padding: 0;
       margin-left: 19px;
   }

    label {
        padding: 0;
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        width: 360px;
        margin-left: 20px;
    }

    input {
        width: 90vw;
    }

    /*
    ÁREA RESULTADO GOOGLE ↴
    */

    .content_bar {
        display: flex;
        padding-left: 20px;
        padding-right: 0px;
    }

    /*
        RODAPÉ ↴
    */

    .content_bar {
        display: flex;
        flex-wrap: wrap;
        padding-right: 0;
        padding-left: 20px;
        padding-right: 15px;
        text-align: left;
    }

    .first_line {
        padding-left: 22px;
    }
    
    .second_line {
        padding-left: 22px;
    }
}