/*
    ÁREA RESPONSIVA ↴
*/

@media (max-width: 600px) {

    /*
        MENU GOOGLE ↴
    */

    header .logo_google {
        padding: 20px;
    }

    header .bar_login {
        margin-left: 2px;
    }
    
    header .bar_top_left {
        position: absolute;
        padding: 0;
        margin-left: 185px;
        margin-top: 17px;
    }

    header .bar_top {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
    }

    header .bar_top_bottom {
        font-size: 13px;
    }

   header .bar_top_bottom a:first-child {
       margin: 0;
       padding: 0;
       margin-left: 19px;
   }

    header label {
        padding: 0;
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        width: 360px;
        margin-left: 20px;
    }

    /*
    ÁREA RESULTADO GOOGLE ↴
    */

    article .content_bar {
        display: flex;
        padding-left: 20px;
        padding-right: 0px;
    }

    /*
        RODAPÉ ↴
    */

    footer .content_bar {
        display: flex;
        flex-wrap: wrap;
        padding-right: 0;
        padding-left: 20px;
        padding-right: 15px;
        text-align: left;
    }

    footer .first_line {
        padding-left: 22px;
    }
    
    footer .second_line {
        padding-left: 22px;
    }
}