.logo_google {
  padding: 1.875rem;
}

.bar_login {
  padding: 0.625rem;
  width: 6.25rem;
  background-color: #2c7de9;
  color: white;
  border: 0.0625rem solid #2c7de9;
  text-align: center;
  border-radius: .25rem;
  font-size: 0.875rem;
}

.bar_login:hover {
 background-color: rgb(80, 148, 237);
 border: 0.0625rem solid rgb(80, 148, 237);
}

.bar_engrenagem, .bar_google_apps {
  padding: 0.625rem 1.5625rem 0 0;
}

.bar_top {
  display: flex;
  flex-flow:  row wrap;
  border-bottom: 0.0625rem solid #b9b9b960;
  position: relative;
}

.bar_top a {
  text-decoration: none;
  color: #3f3f3f;
}

.bar_top_left {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 1.5625rem;
  top: 1.5625rem;
}

.bar_top_bottom {
  display: flex;
  flex-direction: row;
}

form {
  padding-top: 1.5625rem;
}

input {
  width: 45vw;
  height: 2.6875rem;
  border-radius: 1.25rem;
  border: 0.0625rem solid #b9b9b960;
  outline: none;
  padding-left: 1.25rem;
  font-size: 1.0625rem;
}

input:hover {
  box-shadow: 0.125rem 0.125rem 0.5625rem #b9b9b960;
}

.bar_top_bottom a:first-child {
  margin-left: 10.625rem;
  border-bottom: 0.1875rem solid #2c7de9;
  padding-bottom: 0.625rem;
}

.bottom {
  margin: 0 0 0.625rem 1.5625rem;
}

@media (min-width: 320px) and (max-width: 768px) {
  .logo_google {
    padding: 1.25rem;
  }
  
  .bar_top_left {
    position: absolute;
    top: 0.9375rem;
  }

  .bar_top {
    display: flex;
    flex-direction: row;
  }

  .bar_top_bottom {
    font-size: 0.8125rem;
    margin-left: 1.25rem;
  }

  .bar_top_bottom a:last-child {
    display: none;
  }
  
  .bar_top_bottom a:first-child {
    margin: 0 0 0 1.1875rem;
    padding: 0;
  }

  form {
    padding: 0;
    display: flex;
    margin: 0 auto 1.25rem auto;
    flex-direction: row;
  }

  input {
    width: 90vw;
  }
}

@media (min-width: 530px) {
  .bar_top_bottom a:last-child {
    display: flex;
  }
}
