.content_bar {
  padding: 2.5rem 30vw 1.25rem 10.625rem;
  flex-wrap: wrap;
}

.title_content {
  color: #1924AD;
  font-size: 1.4375rem;
  padding-bottom: 0.3125rem;
}

.title_content:hover {
  text-decoration: underline;
}

.text_content {
  color: #635B60;
  margin-bottom: 1.875rem;
}

.link {
  padding: 0;
  color: #3B2E2A;
}

@media (min-width: 320px) and (max-width: 768px) {
  .content_bar {
    max-width: 75vw;
    display: flex;
    padding: 1.875rem 0.9375rem 0 2.5rem;
    text-align: left;
  }
}