.content_bar {
  padding: 0 37.5rem 1.875rem 10.625rem;
}

.title_content {
  color: #1924AD;
  font-size: 1.4375rem;
  padding-bottom: 0.3125rem;
}

.title_content:hover {
  text-decoration: underline;
}

.text_content {
  color: #635B60;
}

.link {
  padding: 1.875rem 0 0.3125rem 0;
  color: #3B2E2A;
}

@media (min-width: 320px) and (max-width: 768px) {
  .content_bar {
    display: flex;
    padding: 0 0 0 1.25rem;
  }
}